html, body, p, h1 {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head .logo {
    display:flex ;
    align-items: center;
    font-size: 30px;
    color: #806f6f;
    font-weight: bolder;
    font-style: italic;
}
.head .logo img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin: 5px  15px 0 30px;
}
.head .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;

}
.head .menu ul li a {
    text-decoration: none;
    color: #806f6f;
    font-size: 18px;
    font-weight: bold;

}
.head .menu ul li a:hover {
    border: 1px solid #806f6f;
    border-radius: 30px;
    background-color: #f2984aac;
    padding: 5px 10px;
}
.head .search button {
    margin: 20px;
    padding: 10px;
    width: 180px;
    background-color: #e35a0d;
    border: 1px solid #e35a0d;
    border-radius: 40px;
} 
main {
    display: flex;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}
main .left {
    width: 550px;
}
main .left .head {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}
main .left .head h1 {
    font-size: 55px;
}
main .left .head p {
    font-size: 18px;
    margin-top: 10px;
}
main .left .button button {
    padding: 10px 20px;
    width: 170px;
    background-color: #e35a0d;
    border: 1px solid #e35a0d;
    font-size: 20px;
    border-radius: 40px;
    margin: 10px 20px;
    color: aliceblue;

}
main .member {
    display: flex;
    
}
main .member .left {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: rgb(19, 19, 19);
    gap: 10px;
    border-right: 1px solid slategray;
    margin-left: 20px;
}
main .member .left span {
    font-weight: bold;
    color: black;
    font-size: 24px;

}
main .member .right {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: rgb(19, 19, 19);
    gap: 10px;
    margin-left: 20px;
}
main .member .right span {
    font-weight: bold;
    color: black;
    font-size: 24px;
}

main .right{
    width: 550px;
}
main .right img {
    width: 450px;
    height: 600px;
    object-fit: contain;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: color-burn;
}
.foot {
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}
.foot .poses {
    position: relative;
}
.foot .poses .content {
    background-color: rgba(250, 235, 215, 0.662);
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(30px);
    gap: 4px;
    border-radius: 20px;
}
.foot .poses .content .head {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width:calc(100% - 20px);
    
}
.foot .poses .content .head .name {
    color: black;
    font-size: 18px;
}
.foot .poses .content .head .icon {
    color: black;
    background-color: #e35a0d;
    padding: 4px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}
.foot .poses .content .photo img {
    width: 150px;
    height: 200px;
    border-radius: 20px;
    padding-bottom: 10px;
    
}
.foot .poses .empty {
    background-color: #e35a0d;
    width: 160px;
    height: 200px;
    border-radius: 20px;
    position: absolute;
    bottom: -8px;
    left: -8px;
    z-index: -1;
}